<footer>
    <p>Pokenode search engine</p>
    <span>&copy; kwalixx</span>
    <script>
        const footerSpan = document.querySelector('footer > span');
        const year = new Date().getFullYear();
        footerSpan.innerText += ' ' + year.toString();

    </script>
</footer>